/* for every element on the style sheet */

:root{
    --yellow: #fce128;
    --light-purple: #86A8E7;
    --purple: #663399;
    --hot-pink: #C71585;
    --light-blue: #b6dcff;
}

/* apply styles to body elements*/
body{
    color: var(--purple);
    font-family: "Raleway", sans-serif;
    background-color: var(--light-blue);
}

a {
    text-decoration: none;
}

h2 {
    color: var(--hot-pink);
    font-weight: bold;
    margin-top: 20px;
}

h3 {
    color: var(--purple);
    text-decoration: none;
    font-weight: bolder;
}


h3:hover {
    color: var(--hot-pink);
}

img{
    width: 100%;
    border: 5px solid var(--yellow);
    opacity: 0.75;
    
}

.bio-img {
    opacity: 1;
}

img:hover{
    opacity: 1;
}

.navbar{
    background-color: var(--purple);
}

footer{
    background-color: var(--purple);
}
